<nav class="navbar navbar-light" style="background-color:rgb(34,63,92)">

    <div class="container1">
        <a class="navbar-brand" style="color: #fff;" href="#">
            <img alt width="
            10%" class="mr-2"  src=
    "https://apiqa.channelsmart.net/v1.0/logo"
                 />Channel Smart
        </a>
    </div>
    </nav>
    
<div class="container">
    <form class="p-3 rounded-3">

      <br>
      <h2 class="fs-3" class="signup">Create First Admin</h2>
      <br>
          <div class="row">
            <div class="col mb-3">
              <label for="text" class="form-label">First Name</label>
              <input type="text" placeholder="Enter your first name here" class="form-control">
            </div>
          </div>
            
          <div class="row">
            <div class="col mb-3">
              <label for="text" class="form-label">Last Name</label>
              <input type="text" placeholder="Enter your last Name here" class="form-control">
            </div>
          </div>


          <div class="row">
            <div class="col mb-3">
              <label for="text" class="form-label">User Name</label>
              <input type="text" placeholder="Enter your name here" class="form-control">
            </div>
          </div>

          <div class="row">
            <div class="col mb-3">
              <label for="email" class="form-label">Email Address</label>
              <input type="email" placeholder="abc@xxx.com" class="form-control">
            </div>
          </div>


          <div class="row">
            <div class="col mb-3">
              <label for="pwd" class="form-label">Password</label>
              <input type="password" placeholder="Enter your password here" class="form-control"  formControlName="pwd">
            </div>
          </div>

          <div class="row">
            <div class="col mb-3">
              <label for="pwd" class="form-label">Confirm Password</label>
              <input type="password" placeholder="Confirm Password" class="form-control"  formControlName="pwd">
            </div>
          </div>

          <div class="row">
            <div class="col mb-3">
              <div class="d-grid">
              <button type="submit" class="btn btn-primary" id="button">Create Admin</button>
            </div>
          </div>
        </div>
            </form>
         

</div>